In [9]:
import numpy as np
import pandas as p
import matplotlib.pyplot as plt

In [11]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

names =[ 'sepal—length', 'sepal—width', 'petal—length', 'petal—width', 'Class' ]
d = p.read_csv( url ,names=names)

In [12]:
d.head()

   sepal—length  sepal—width  petal—length  petal—width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa